@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    font-family: Rubik;
}

p{
    color:hsl(229, 8%, 60%)
}

h1, h2, h3 {
    color:hsl(229, 31%, 21%)
}

.navBar{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    width: 18vh;
    display: flex;
    align-items: center;
} 

.logo img{
    width: 14vh;
    height: 2.4vh;
}

.buttons-navBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 50vh;
}

.button-navBar{
    text-decoration: none;
    color: black
}

.button-navBar:hover , .button-navBar:active {
    color:orange;
}

.button-login{
    height: 4vh;
    width: 12vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
}

.button-login:hover{
    color:orange;
    border: orange 2px solid;
}

.first-section{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.first-section-desc{
    max-width: 60vh;
}

.first-section-desc h1{
    font-size: 2.2rem;
    font-family: Rubik;
    font-weight:bold;
    color:hsl(229, 31%, 21%)
}

.first-section-desc p {
    font-size: 1.1rem;
}

.first-section-img-container{
    display:block;
    background-color: rgb(129, 32, 32);
    max-width: 65vh;    
    size-adjust:initial;
    box-sizing: content-box;
}

.first-section-img-container img{
    width: 60vh;
    box-sizing: content-box;
}

.first-section-buttons{
    height: 5vh;
    width: 14vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
}

.first-section-buttons:hover{
    color: hsl(231, 69%, 60%);
    border: hsl(231, 69%, 60%) 2px solid;
}

.second-section{
    margin-top: 12vh;
}

.second-section-desc{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-desc h2{
    font-size: 1.7rem;
}

.second-section-desc p{
    max-width: 58vh;
    height: 10vh;
}

.second-section-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.second-section-button{
    height: 7vh;
    width: 20vh;
    background-color: white;
    border: white 1px solid;
    border-bottom: 1.8px hsl(229, 8%, 60%) solid;
    font-size: 1rem;
    font-weight: 450;
    color: hsl(229, 8%, 60%)
}

.second-section-button:hover{
    color: orange;
}

.second-section-button:focus{
    color:black;
    border-bottom: 2px orange solid;
}

.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-desc{
    text-align: center;
}

.extensions{
    display: flex;
    justify-content: space-around;
    width: 105vh;
    height: 40vh;
}

.extension{
    display: inherit;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 15px;
    justify-content: space-around;
}

.extLogos{
    max-width: 8vh;
}

.dotsBar{
    max-width: 30vh;
}

.ext-buttons{
    height: 4.4vh;
    width: 22vh;
    color: white;
    background-color: hsl(231, 69%, 60%);
    border: transparent 2px solid;
    border-radius: 5px;
}

.ext-buttons:hover{
    color: hsl(231, 69%, 60%);
    background-color: white;
    border: hsl(231, 69%, 60%) 2px solid;
}